### LOAD DEPENDENCIES

In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns.fpgrowth import fpgrowth
from mlxtend.frequent_patterns import association_rules
from sklearn.model_selection import train_test_split
from statsmodels.stats.proportion import proportions_ztest

### IMPORT PICKLE OF DATAFRAME OF SURVEY RESPONSES OF ACTIVE LEARNERS

In [3]:
sub_starter = pd.read_excel(r"C:\Users\TAYCO\Documents\Github\sparta-butuan-incubation-workshop\Association_Analysis\01_Data\Preferred_Courses.xlsx")

### SPLIT DATAFRAME INTO TRAINING AND TEST SET

In [3]:
train, test = train_test_split(sub_starter, test_size=0.4, random_state=3292020)

### RUN FPGrowth TO MINE FREQUENT ITEM SETS FROM THE PREFERRED COURSES OF THOSE WHO RESPONDED THAT THEY PREFER TO TAKE COURSES OF THEIR CHOICE INSTEAD OF FOLLOWING SPARTA'S LEARNING PATHWAY.  PERFORM SEPARATELY FOR THE TRAINING AND TEST SETS

### Training Set

In [4]:
dataset1 = train['preferred_courses2'].tolist()

te = TransactionEncoder()
te_ary1 = te.fit(dataset1).transform(dataset1)
df1 = pd.DataFrame(te_ary1, columns=te.columns_)

In [5]:
frequent_itemsets1 = fpgrowth(df1, min_support=0.25, use_colnames=True).rename(columns={"support":"support_train","itemsets":"itemsets_train"})
frequent_itemsets1["no_of_courses_train"] = frequent_itemsets1["itemsets_train"].apply(lambda i: len(i))
frequent_itemsets1["itemsets_train"] = frequent_itemsets1["itemsets_train"].apply(lambda i: list(i))
frequent_itemsets1["itemsets_train2"] = frequent_itemsets1["itemsets_train"].apply(lambda i: i.sort())
frequent_itemsets1["itemsets_train"] = frequent_itemsets1["itemsets_train"].apply(lambda i: str(i).replace("[","").replace("]",""))
frequent_itemsets1 = frequent_itemsets1.drop(columns=["itemsets_train2"])
frequent_itemsets1 = frequent_itemsets1.drop_duplicates(subset="itemsets_train", keep="first")
frequent_itemsets1["sample_size_train"] = len(dataset1)
frequent_itemsets1["itemset_cnt_train"] = frequent_itemsets1["support_train"] * frequent_itemsets1["sample_size_train"]
frequent_itemsets1

,support_train,itemsets_train,no_of_courses_train,sample_size_train,itemset_cnt_train
0,0.596774,'Essential Excel Skills for Data Preparation a...,1,124,74.0
1,0.572581,'Statistical Analysis and Modeling using Excel',1,124,71.0
2,0.572581,'Design Thinking for Analytics',1,124,71.0
3,0.548387,'Data Visualization using Tableau and Python',1,124,68.0
4,0.532258,'Storytelling using Data',1,124,66.0
...,...,...,...,...,...
13432,0.250000,"'Data Management Fundamentals', 'Enterprise Da...",4,124,31.0
13433,0.250000,"'Data Management Fundamentals', 'Data Visualiz...",4,124,31.0
13434,0.250000,"'Data Visualization Fundamentals', 'Enterprise...",4,124,31.0
13435,0.250000,"'Data Management Fundamentals', 'Data Visualiz...",5,124,31.0
13436,0.250000,"'Data Management Fundamentals', 'Enterprise Da...",3,124,31.0

### Test Set

In [6]:
dataset2 = test['preferred_courses2'].tolist()

te_ary2 = te.fit(dataset2).transform(dataset2)
df2 = pd.DataFrame(te_ary2, columns=te.columns_)

In [7]:
frequent_itemsets2 = fpgrowth(df2, min_support=0.25, use_colnames=True).rename(columns={"support":"support_test","itemsets":"itemsets_test"})
frequent_itemsets2["no_of_courses_test"] = frequent_itemsets2["itemsets_test"].apply(lambda i: len(i))
frequent_itemsets2["itemsets_test"] = frequent_itemsets2["itemsets_test"].apply(lambda i: list(i))
frequent_itemsets2["itemsets_test2"] = frequent_itemsets2["itemsets_test"].apply(lambda i: i.sort())
frequent_itemsets2["itemsets_test"] = frequent_itemsets2["itemsets_test"].apply(lambda i: str(i).replace("[","").replace("]",""))
frequent_itemsets2 = frequent_itemsets2.drop(columns=["itemsets_test2"])
frequent_itemsets2 = frequent_itemsets2.drop_duplicates(subset="itemsets_test", keep="first")
frequent_itemsets2["sample_size_test"] = len(dataset2)
frequent_itemsets2["itemset_cnt_test"] = frequent_itemsets2["support_test"] * frequent_itemsets2["sample_size_test"]
frequent_itemsets2

,support_test,itemsets_test,no_of_courses_test,sample_size_test,itemset_cnt_test
0,0.662651,'Getting Grounded on Analytics',1,83,55.0
1,0.614458,'Data Management Fundamentals',1,83,51.0
2,0.566265,'Data Visualization Fundamentals',1,83,47.0
3,0.518072,'SQL for Business Users',1,83,43.0
4,0.506024,'Data Science and Analytics Project Management',1,83,42.0
...,...,...,...,...,...
275,0.277108,"'Designing and Building Data Products', 'Essen...",2,83,23.0
276,0.265060,'Data Science and Analytics Project Management...,2,83,22.0
277,0.265060,"'Data Management Fundamentals', 'Designing and...",2,83,22.0
278,0.253012,"'Designing and Building Data Products', 'Stati...",2,83,21.0
279,0.253012,"'Designing and Building Data Products', 'Essen...",3,83,21.0

### MERGE THE RESULTS OF THE FREQUENT PATTTERN MINING ON BOTH TRAINING AND TEST SETS.  PERFORM TEST OF PROPORTIONS TO IDENTIFY ITEMSETS THAT HAVE HIGH SUPPORT AND THE RESULT FOR WHICH HAVE NOT OCCURED BY RANDOM CHANCE

### Include only those itemsets that got shortlisted based on the minimum support of 0.25 in both training and test sets

In [8]:
frequent_itemsets = pd.merge(frequent_itemsets1, frequent_itemsets2, left_on="itemsets_train", right_on="itemsets_test", how="inner")
frequent_itemsets

,support_train,itemsets_train,no_of_courses_train,sample_size_train,itemset_cnt_train,support_test,itemsets_test,no_of_courses_test,sample_size_test,itemset_cnt_test
0,0.596774,'Essential Excel Skills for Data Preparation a...,1,124,74.0,0.650602,'Essential Excel Skills for Data Preparation a...,1,83,54.0
1,0.572581,'Statistical Analysis and Modeling using Excel',1,124,71.0,0.542169,'Statistical Analysis and Modeling using Excel',1,83,45.0
2,0.572581,'Design Thinking for Analytics',1,124,71.0,0.445783,'Design Thinking for Analytics',1,83,37.0
3,0.548387,'Data Visualization using Tableau and Python',1,124,68.0,0.421687,'Data Visualization using Tableau and Python',1,83,35.0
4,0.532258,'Storytelling using Data',1,124,66.0,0.469880,'Storytelling using Data',1,83,39.0
...,...,...,...,...,...,...,...,...,...,...
275,0.274194,"'Analytics Applications in Finance and Risk', ...",2,124,34.0,0.253012,"'Analytics Applications in Finance and Risk', ...",2,83,21.0
276,0.274194,"'Analytics Applications in Finance and Risk', ...",2,124,34.0,0.301205,"'Analytics Applications in Finance and Risk', ...",2,83,25.0
277,0.250000,"'Analytics Applications in Finance and Risk', ...",3,124,31.0,0.253012,"'Analytics Applications in Finance and Risk', ...",3,83,21.0
278,0.258065,'Data Science and Analytics Project Management...,2,124,32.0,0.265060,'Data Science and Analytics Project Management...,2,83,22.0
279,0.258065,"'Enterprise Data Governance', 'Getting Grounde...",2,124,32.0,0.253012,"'Enterprise Data Governance', 'Getting Grounde...",2,83,21.0

### Perform Z-test of proportions to check if there is no significant difference in the support in the training and test sets

In [19]:
stat_lst = []
pval_lst = []
test_df = pd.DataFrame()

for index, row in frequent_itemsets.iterrows():
    matches = np.array([int(row["itemset_cnt_train"]), int(row["itemset_cnt_test"])])
    samples = np.array([int(row["sample_size_train"]), int(row["sample_size_test"])])
    stat, p_value = proportions_ztest(count=matches, nobs=samples,  alternative='two-sided')
    stat_lst.append(stat)
    pval_lst.append(p_value)

frequent_itemsets["Z-stat"] = stat_lst
frequent_itemsets["p-Value"] = pval_lst

In [22]:
frequent_itemsets = frequent_itemsets.sort_values(["no_of_courses_train","support_train"], ascending=[True,False])
frequent_itemsets = frequent_itemsets[frequent_itemsets["p-Value"] > 0.05]  ### Failed to Reject H0 of equal support between training and test sets

In [23]:
frequent_itemsets.to_excel(r"C:\Users\TAYCO\Documents\Github\sparta-butuan-incubation-workshop\Association_Analysis\03_Outputs\Frequent_ItemSets_Preferred_Courses.xlsx")